//color//
$white: #FFFFFF;
$yellow: #E3B748;

//other//
$opacity: 0.3;

// breakpoint//
$breakpoint1283: 1283 + px;
$breakpoint1167: 1167 + px;
$breakpoint1058: 1058 + px;

//padding//
$padding: 0px 153px 0px 152px;